html{
  background-image: url("../_imagines/background6.jpg");
  height: 100vh;
  background-size: cover;
  background-position:center;
}
/*.capa{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #282829;
  opacity: 0,1;
  mix-blend-mode: overlay;
}*/
.menuHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
}
h1{
  color: #efec21;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,cursive;
  text-transform: uppercase;
  font-size: 75px;
  margin: 10px 0px 0px 50px;
  padding: 10px 20px;
}
h1:hover{
  text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255), 1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
}
.header_box{
  display: flex;
  flex-direction: row;
  margin: 1px 1px 1px 80px;
  gap: 35px;
  align-items: baseline;
  
}
.usuario h3{
  padding: 13px;
  background-color: #090a0a;
  color:azure;
  border-radius: 6%;
  font-size:17px;
}
#darkmode{
  top 10px;
  background-color: #090a0a;
  color:azure;
  padding: 10px ;
  border-radius: 50%;
  margin-right: 80px;
}
.material-symbols-outlined {  
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}
.usuario h3:hover{
  background:#efec21  ;
  transform: translateY(-6px);
  color: black ;
}
#darkmode:hover{
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.menu{
  list-style: none;
  padding: 0;
  background: #090a0a;  
  width: 93%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;;
  justify-content: center;
  margin: 0px;
  border-radius: 1%;
}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  transition: all 0,45s;
}
.menu li{
  display: flex;
  flex-direction: row;
  text-align: center;
  transition: all 0,45s;
}
.menu li a:hover{
  background: #efec21;
  color: black ;
  transform: translateY(-5px);
  
}
main {
  width: 90%;
  margin: 0px auto;
  background-color: #042940;
  padding: 15px;
  text-align: center;
  opacity: 0,3;
}
#banner {
  background-size: cover;
  background-position: bottom center;
  height: 70vh;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
video{
position:absolute;
width:90%;
height: 65vh;
object-fit: cover;
justify-content: center;
margin: 0px;

}
h2{
  font-size: 38px;
  color: #efec21;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 3px 25px 3px;
}
.torneos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 800ms;
  gap: 100px;
  margin: 0px 0px 50px 1px;
}
.torneo{
    width: 100%;
    transition: all 800ms;
    border-radius: 3%;
    border-style:groove;
    border-width: 3px;
    border-color: rgb(109, 108, 196);

  }
.hipervinculo{
    transition: all 800ms;
  }
@media screen and (min-width:1200px) { 
  .hipervinculo:hover{
    flex: 25%;
  }
  .hipervinculo:hover>torneo{
    width: 50%;
  }
}
.noticias{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:52px;
  margin: 0px 0px 50px 1px;
  transition: all 800ms;

}
.noticia{
  width: 290px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 800ms;
  background-color: rgb(109, 108, 196);
  border-radius: 3%;
  border-style:groove;
  border-width: 3px;
  border-color: rgb(109, 108, 196);
}
.noticias .noticia .fotonoticia{
  width: 300px;
  height: 300px;
  border-radius: 3%;
  overflow: hidden;
}
.noticias .noticia .titularNoticia{
  font-weight: 600;
}
.noticias .noticia .textoNoticia {
  padding:0 1rem;
  font-size:13px ;
  font-weight: 300;
}
.noticias .noticia:hover{
  transform: translateY(-15px);
  height: 600px;
}

.producto_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(109, 108, 196);
  border-style:groove;
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 1%;
  margin: 3px 60px;
  }
  .imagen_producto img{
    height: 250px;
    width: 350px;
    margin: 80px 15px 1px 20px;
  }

  .imagen_producto img:hover{
    transform: scale(1.6);
  }
  .información_producto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1px 2px 1px 30px;
    border-left-style:groove;
    border-left-width: 4px;
    border-left-color: rgb(109, 108, 196);
    padding: 1px 3px 1px 20px; 
  }
    .información_producto .titulo{
      color: rgb(255, 255, 255);
      font-size: 20px;
      display: flex;
      flex-direction: raw;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .precio{
      color: rgb(243, 10, 10);
      font-size: 20px;
      display: flex;
      flex-direction: raw;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .tallas{
      display: flex;
      flex-direction: raw;
      flex-wrap: wrap;
      gap: 30px;
      color: white;
      align-items: baseline;
    }

    .talla h4{
      padding: 7px 15px;
      background-color: black;
      box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }

    .colores{  
      display: flex;
      flex-direction: raw;
      flex-wrap: wrap;
      gap: 30px;
      color: white;
    }

    .color img{
      height: 50px;
      width: 100px;
      
      padding: 7px 15px;  
    }

    .tallas h4:hover{
      transform: translateY(-3px);
      background-color:#efec21;
    }
    .color img:hover{
      transform: translateY(-8px);
      background-color:#efec21;
    }
    .comprar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    font-size: 20x; 
    }

    .comprar a {
      color: antiquewhite;
      background-color: #000;
      padding: 9px;
      text-decoration: none;
      border-radius: 4%;
      margin: 25px 1px 11px 3px;
    }
section {
  width: 90%;
  margin: 10px auto;
  background-color: #042940;
  padding: 15px;
  text-align: center;
}
#servicios{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#servicios .servicio{
  margin: 90px
}
.product img {
      float:left;
      margin-right: 15px;
  }

 .galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
 }

 .galeria img {
  height: 250px;
  width:  300px;
  border-radius: 3%;
  box-shadow: 2px #000;
  
  border-style:dashed;
  border-width: 3px;
  border-color: rgb(109, 108, 196);

 }

 .galeria img:hover{
   filter: blur(0.1px);
   transform: rotate(1deg) scale(1.1);

 }

.galeriaZoom{
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .3s ease-out;
}
.galeriaZoom img{
  width: 75vw;
  max-height: 80vh;
}

.galeriaZoom:target{
  transform: scale(1);
}

.cerrar{
  display: block;
  position: absolute;
  top: 60px;
  right: 150px;
  color: red;
  font-size: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 300,
  'GRAD' 0,
  'opsz' 400
}
.flecha {
display: block;
color: aliceblue;

}

footer .titulo-section{
  display:flex;
  justify-content: center;
  color: rgb(127, 14, 103);
}
footer .copy{
  display:flex;
  justify-content: center;
  color: black;
}
.redes-sociales{
  display:flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
}